<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Learner</title>
</head>
<body>
<h1>Add Learner</h1>
    <form method="post" th:object="${learner}" th:action="@{/learners/add}">
        <label>User ID: <input type="text" th:field="*{user_id}" /></label><br />
        <label>First Name: <input type="text" th:field="*{firstname}" /></label><br />
        <label>Last Name: <input type="text" th:field="*{lastname}" /></label><br />
        <input type="submit" value="Add Learner" />
    </form>
    <a href="/learners">Back to List</a>
</body>
</html>