<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Courses List</title>
</head>
<body>
    <h1>Courses List</h1>
    <table>
        <tr>
           <th>ID</th>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Action</th>
        </tr>
        <tr th:each="course : ${coursesList}">
            <td th:text="${course.id}"></td>
            <td th:text="${course.course_id}"></td>
            <td th:text="${course.course_name}"></td>
            <td th:text="${course.start_dt}"></td>
            <td th:text="${course.end_dt}"></td>
            <td>
                <a th:href="@{/courses/{id}(id=${course.id})}">View</a>
                <a th:href="@{/courses/edit/{id}(id=${course.id})}">Edit</a>
                <a th:href="@{/courses/delete/{id}(id=${course.id})}">Delete</a>
            </td>
        </tr>
    </table>
    <a href="/courses/add">Add New Course</a>
</body>
</html>
