<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Enrollments List</title>
</head>
<body>
    <h1>Enrollments List</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Faculty User ID</th>
            <th>Learner User ID</th>
            <th>Course ID</th>
            <th>Action</th>
        </tr>
        <tr th:each="enrollment : ${enrollmentsList}">
            <td th:text="${enrollment.id}"></td>
            <td th:text="${enrollment.faculty_user_id}"></td>
            <td th:text="${enrollment.learner_user_id}"></td>
            <td th:text="${enrollment.course_id}"></td>
            <td>
                <a th:href="@{/enrollments/delete/{id}(id=${enrollment.id})}">Delete</a>
            </td>
        </tr>
    </table>
    <a href="/enrollments/add">Add New Enrollment</a>
</body>
</html>
